i# Maven build output
target/
build/

# Maven Wrapper Jar file (should NOT be ignored)
# Ignore everything
/*

# But do NOT ignore these files/folders:
!src/
!pom.xml
!.gitignore
!Dockerfile
!README.md

